<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example">
   <uses-permission android:name="android.permission.INTERNET"/>
   <application android:name=".MainApplication" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:allowBackup="false" android:theme="@style/AppTheme">
      <activity android:name=".MainActivity" android:label="@string/app_name" android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode" android:launchMode="singleTask" android:windowSoftInputMode="adjustResize">
         <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
         </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity"/>
      <uses-library android:name="org.apache.http.legacy" android:required="false"/>
      <provider android:name="com.pushlink.android.FileProvider" android:authorities="com.example" android:exported="true"/>
      <receiver android:name=".PushlinkAdminReceiver" android:permission="android.permission.BIND_DEVICE_ADMIN">
         <meta-data android:name="android.app.device_admin" android:resource="@xml/device_admin_sample"/>
         <intent-filter>
            <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
            <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
         </intent-filter>
      </receiver>
   </application>
   <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
</manifest>